# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
env/
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# IDE/project files
.vscode/
.idea/

# Logs
*.log

# Large data files (keep <50MB in repo, ignore big ones)
*.zip
*.tar
*.gz
*.h5
*.db
